@tailwind base;
@tailwind components;
@tailwind utilities;

.line-horizontal {
  background: linear-gradient(to left, #ECEFF1 50%, #8AD103 50%) right;
  background-size: 200%;
  transition: background-position 0.5s ease-out;
}

.line-horizontal.show {
  background-position: left;
}

.line-vertical {
  background: linear-gradient(to top, #ECEFF1 50%, #8AD103 50%) bottom;
  background-size: 200%;
  transition: background-position 0.5s ease-out;
}

.line-vertical:hover {
  background-position: top;
}
